@media(max-width:767px){
.form-modificar {
    max-width: 1500px;
    font-family: Arial, sans-serif;
    background-color: #f8e3e9;
    color: #333;
    padding: 60px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form-modificar h1 {
    text-align: center;
    margin: 0 auto;
    width: 70%;
    padding-bottom: 20px;
    color: #c23864;
}

.form-modificar form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    background-color: #f9e8ef;
    padding-bottom: 40px;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    gap: 15px;

}

.form-modificar input {
    display: block;
    width: 60%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-modificar button {
    background-color: #f8bbd0;
    border: 1px solid #f06292;
    color: #f06292;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 10px;
    width: 60%;
    height: 50px;
    margin: 0 auto;
}

.form-modificar button:hover {
    background-color: #f06292;
    color: white;
}

.form-modificar label {
    color: #c23864;
    max-width: 600px;
    display: block;
    text-align: left;
    width: 60%;
    margin-bottom: 5px;
}

.mensaje-exito {
    color: green;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .form-modificar {
        max-width: 1500px;
        font-family: Arial, sans-serif;
        background-color: #f8e3e9;
        color: #333;
        padding: 50px 20px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-modificar h1 {
        text-align: center;
        margin: 0 auto;
        width: 80%;
        padding-bottom: 20px;
        color: #c23864;
        font-size: 28px;
    }

    .form-modificar form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        background-color: #f9e8ef;
        padding-bottom: 40px;
        border-radius: 10px;
        width: 80%;
        margin: 0 auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        gap: 15px;
    }

    .form-modificar input {
        display: block;
        width: 70%;
        margin-bottom: 15px;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .form-modificar button {
        background-color: #f8bbd0;
        border: 1px solid #f06292;
        color: #f06292;
        border-radius: 5px;
        cursor: pointer;
        padding: 12px 10px;
        width: 70%;
        height: 50px;
        margin: 0 auto;
        font-size: 16px;
    }

    .form-modificar button:hover {
        background-color: #f06292;
        color: white;
    }

    .form-modificar label {
        color: #c23864;
        max-width: 600px;
        display: block;
        text-align: left;
        width: 70%;
        margin-bottom: 5px;
    }

    .mensaje-exito {
        color: green;
        font-weight: bold;
        margin-top: 10px;
        padding: 10px;
        background-color: #d4edda;
        border: 1px solid #c3e6cb;
        border-radius: 5px;
    }
}

@media (min-width: 1024px) {
.form-modificar{
    max-width: 1500px;
    font-family: Arial, sans-serif;
    background-color: #f8e3e9;
    color: #333;
    padding: 60px 20px;
    min-height: 100vh;
}

.form-modificar h1{
    text-align: center;
    margin: 0 auto;
    width: 70%;
    padding-bottom: 20px;
    color: #c23864;
}

.form-modificar form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    background-color: #f9e8ef;
    padding-bottom: 40px;
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    gap: 5px;
}

.form-modificar input{
    display: block;
    width: 60%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-modificar button{
    background-color: #f8bbd0;
    border: 1px solid #f06292;
    color: #f06292;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 10px;
    width: 300px;
    height: 50px;
    margin: 0 auto;
}

.form-modificar button:hover{
    background-color: #f06292;
    color: white
}

.form-modificar label{
    color: #c23864;
    max-width: 600px;
    display: block;
    text-align: left;
    width: 60%;
    margin-bottom: 5px;
}

.mensaje-exito {
  color: green;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
}
}