
.mis-cursos {
  max-width: 1500px;
  font-family: Arial, sans-serif;
  background-color: #f8e3e9; 
  color: #333;
  padding: 0px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0; 
  position: relative; 
  z-index: 1;
}

.lista-mis-cursos h1 {
  color: #c23864;
  text-align: left;
  margin-top: 0; 
  font-size: 36px;
  width: 100%;
  display: block;
  z-index: 2;
}

.list-cursos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  justify-content: flex-start;
  
}

.list-cursos li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 250px;
  height: 400px; 
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.list-cursos li h3 {
  font-size: 22px; 
  margin: 10px 0;
}

.list-cursos li p {
  font-size: 16px;
  margin-bottom: 10px;
}

.inscribirse button, .boton-cursos {
  background-color: #f8bbd0;
  border: 1px solid #f06292;
  color: #f06292;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  height: 55px;
}

.inscribirse button:hover, .boton-cursos:hover {
  background-color: #f06292;
  color: white;
}


@media(max-width: 767px) {
  .mis-cursos {
    margin-top: 0px; 
    padding-top: 80px; 
  }

  .lista-mis-cursos h1 {
    font-size: 24px;
    margin-top: 0;
    width: 100%;
    z-index: 2; 
  }

  .list-cursos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .list-cursos li {
    width: 100%;
    min-height: 250px;
    margin-bottom: 10px;
  }

  .inscribirse button, .boton-cursos {
    width: 100%;
    margin: 10px 0;
  }
}

@media(min-width: 768px) and (max-width: 1023px) {
  .mis-cursos {
    margin-top: 0px;
    padding-top: 60px;
  }

  .lista-mis-cursos h1 {
    font-size: 30px;
    margin-top: 0;
    width: 100%;
  }

  .list-cursos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
  }

  .list-cursos li {
    width: 45%;
    height: 400px; 
  }

  .inscribirse button, .boton-cursos {
    width: 80%;
  }
}

@media(min-width: 1024px) {
  .mis-cursos {
    margin-top: 0px; 
    padding-top: 60px; 
  }

  .lista-mis-cursos h1 {
    font-size: 36px;
    width: 100%;
  }

  .list-cursos {
    justify-content: flex-start;
    gap: 20px;
  }

  .list-cursos li {
    width: 230px;
  }

  .inscribirse button, .boton-cursos {
    width: 80%;
  }
}
