@media(max-width:767px){
.nav-prof {
        max-width: 1500px;
        font-family: Arial, sans-serif;
        background-color: #f8e3e9;
        color: #333;
        padding: 0px 20px;
        min-height: 100vh;
    }

    .list-cursos-prof {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        list-style-type: none;
        padding: 0;
    }

    .prof-cursos {
        padding-top: 30px;
        margin-top: 10px;
    }

    .list-cursos-prof li {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 16px;
        width: 200px;
        height: 250px;
        text-align: center;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    .list-cursos-prof li:hover {
        transform: translateY(-4px);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }

    .list-cursos-prof h3 {
        font-size: 18px;
        margin: 8px 0;
    }

    .list-cursos-prof p {
        font-size: 16px;
        color: #555;
        margin-top: 0;
        padding: 20px 8px;
    }

    .prof-cursos h1 {
        color: #c23864;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .nav-prof {
        max-width: 1500px;
        font-family: Arial, sans-serif;
        background-color: #f8e3e9;
        color: #333;
        padding: 0px 20px;
        min-height: 100vh;
        margin-top:40px;
    }

    .list-cursos-prof {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        list-style-type: none;
        padding: 0;
        justify-content: flex-start;
    }

    .prof-cursos {
        padding-top: 30px;
        margin-top: 10px;
        text-align: center;
    }

    .list-cursos-prof li {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 16px;
        width: 45%;
        height: 220px;
        text-align: center;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .list-cursos-prof li:hover {
        transform: translateY(-4px);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }

    .list-cursos-prof h3 {
        font-size: 18px;
        margin: 8px 0;
    }

    .list-cursos-prof p {
        font-size: 16px;
        color: #555;
        margin-top: 0;
        padding: 20px 8px;
    }

    .prof-cursos h1 {
        color: #c23864;
        font-size: 28px;
    }
}

@media (min-width: 1024px) {
.nav-prof{
    max-width: 1500px;
    font-family: Arial, sans-serif;
    background-color: #f8e3e9;
    color: #333;
    padding: 0px 20px;
    min-height: 100vh;
}

.list-cursos-prof {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style-type: none;
    padding: 0;
}


.prof-cursos {
    padding-top: 30px;
    margin-top: 10px;
}

.list-cursos-prof li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 250px;
    height: 275px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    }


.list-cursos-prof li:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.list-cursos-prof h3 {
    font-size: 18px;
    margin: 8px 0;
}

.list-cursos-prof p {
    font-size: 16px;
    color: #555;
    margin-top: 0;
    padding: 20px 8px;
}

.prof-cursos h1 {
    color: #c23864;
}
}