.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding: 30px;
  background-color: #f8e3e9;
  flex-grow: 0;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 40px;  
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 80vw;
  width: 100%;
  margin-top: 20px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.form-container input {
  padding: 15px;
  margin: 15px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

.separadorAlu,
.separadorProf {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  height: auto;
}

.separadorAlu button,
.separadorProf button {
  background-color: #f8bbd0;
  border: 1px solid #f06292;
  color: #f06292;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;  
  cursor: pointer;
}

.form-container h2 {
  margin-bottom: 30px; 
  color: #333;
  font-size: 28px; 
}

.formAlu .error-box,
.formProf .error-box {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 15px; 
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px; 
}

.visible {
  display: block;
}

.oculto {
  display: none;
}

.formProf button,
.formAlu button {
  background-color: #f8bbd0;
  border: 1px solid #f06292;
  color: #f06292;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px 30px;  
  font-size: 18px;  
}

@media (max-width: 767px) {

  .form-container {
    padding: 30px;
  }

  .form-container form {
    max-width: 90vw;
    width: 100%;
    padding: 40px; 
  }

  .form-container input {
    font-size: 22px;  
  }

  .separadorAlu button,
  .separadorProf button {
    font-size: 22px;
    padding: 18px 35px; 
  }

  .formAlu .error-box,
  .formProf .error-box {
    font-size: 18px;  
  }

  .formProf button,
  .formAlu button {
    padding: 18px 35px;
    font-size: 22px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .form-container {
    padding: 40px;
  }

  .form-container form {
    max-width: 80vw; 
    width: 100%;
    padding: 50px; 
  }

  .form-container input {
    font-size: 20px;  
  }

  .separadorAlu button,
  .separadorProf button {
    font-size: 20px;
    padding: 16px 30px; 
  }

  .formAlu .error-box,
  .formProf .error-box {
    font-size: 18px;
  }

  .formProf button,
  .formAlu button {
    padding: 16px 30px;
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .navbar {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0;
    background-color: #dd84a0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .form-container {
    padding-top: 50px;
  }

  .formAlu,
  .formProf {
    display: none;
  }

  .visible {
    display: flex !important;
  }

  .form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 70vw; 
    width: 100%;
    margin-top: 30px;
    height: auto;
  }

  .form-container h2 {
    margin-bottom: 40px;
    color: #333;
    font-size: 32px;
  }

  .form-container input {
    padding: 15px;
    margin: 15px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
  }

  .separadorAlu button,
  .separadorProf button {
    background-color: #f8bbd0;
    border: 1px solid #f06292;
    color: #f06292;
    padding: 20px 40px; 
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
  }

  .formProf button,
  .formAlu button {
    background-color: #f8bbd0;
    border: 1px solid #f06292;
    color: #f06292;
    border-radius: 5px;
    cursor: pointer;
    padding: 20px 40px;  
    font-size: 22px;
  }

  .formProf button:hover,
  .formAlu button:hover {
    background-color: #f06292;
    color: white;
  }

  .formAlu .error-box,
  .formProf .error-box {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 18px;
    display: block;
    align-items: center;
  }

  .formAlu .error-box::before,
  .formAlu .error-box::before {
    content: "⚠️ ";
    margin-right: 10px;
  }
}

.form-container .password-field {
  position: relative;
  width: 100%;
}

.form-container input[type="password"],
.form-container input[type="text"] {
  padding-right: 35px; 
}

.form-container .eye-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%); 
  
  border: none;
  cursor: pointer;
  color: hsl(0, 3%, 39%);
  font-size: 15px; 
}

.form-container .eye-button:hover {
  color: #f06292; 
}

.form-container .eye-button:focus {
  outline: none;
}

.form-container .eye-button svg {
  width: 16px; 
  height: 16px;
  fill: currentColor; 
}




